body, html{
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: #e4e8f5;
}

nav{
    height: 5%;
    background-color: #3b5998;
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
}

#icon{
    color: white    ;
}

.facebooklogo{
    height: 80%;
    display: block;
    
       
}

#maincontainer{
    display: flex;
    height: 100%;
}

#menu{
    width: 20%;
    height: 100%;
    position: fixed;
    left: 0;
    top: 5%;
}

#chat{
    width: 20%;
    height: 100%;
    position: fixed;
    right: 0;
    top: 5%;
}

#timelinecontainer{
    width: 60%;
    height: 200%;
    margin: auto;
    display: flex;
}

#timeline{
    height: 200%;
    width: 60%;
}


#publicacao{
    width: 95%;
    margin: auto;
    margin-top: 10%;
    border-radius: 5px;
    background-color: white;
    overflow: hidden;
    height: 5%;
}

.topbar{
    width: 100%;
    height: 13%;
    background-color: lightgrey;  
}

.topbar p{
    margin: 0;
    padding: 0;
}

.box{
    width: 100%;
    height: 68%;
    background-color: lightpink;
}

.bottom{
    height: 20%;
    background-color: white;
}

.user{
    display: flex;
    height: 40px;
    width: max-content;
}

.inputtext{
    width: 100%;
    height: 100%;
    border: none;
}

.userimage{
    overflow: hidden;
    width: 34px;
    height: 34px;
    background-color: black;
    border-radius: 50%;
    margin-top: auto;
    margin-left: 5px;
}

.userimagenav{
    overflow: hidden;
    width: 34px;
    height: 34px;
    background-color: white;
    border-radius: 50%;
    margin-top: auto;
    margin-left: 5px;
}

.username{
    margin-left: 5px;
    margin-top: auto;
}

.usernamenav{
    margin-left: -15px;
    margin-top: auto;
    color: white;
}

.usercontainer{
    height: 100%;
    float: right;
    min-width: 60%;
    width: max-content;
    border-left: solid 1px lightgrey;
}

#icon{
    text-align: center;
    width: 10%;
    height: 100%;
    display: flex;
}

#icon h1{
    float: right;
    padding: 0;
    margin: 0;
    padding-right: 10px;
    margin: auto;
    margin-right: 0;
    height: fit-content;
}

#searchbar{
    width: 25%;
    height: 100%;
    display: flex;
}

#bar{
    width: 100%;
    margin: auto;
    height: 80%;
    background-color: white;
}

#containerads{
    width: 40%;
    height: 70%;
    background-color: white;
}

#ads{
    width: 90%;
    height: 40%;
    background-color: teal;
    margin: auto;
    margin-top: 15%;
}

nav p{
    color: white;
    margin-left: 20px;
}