body, html{
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: #e4e8f5;
}

nav{
    height: 5%;
    background-color: #3b5998;
    position: fixed;
    top: 0;
    width: 100%;
}

#icon{
    width: 100%;
    height: 100%;
}

.facebooklogo{
    height: 80%;
    display: block;
    
       
}

#maincontainer{
    display: flex;
    height: 100%;
}

#menu{
    width: 20%;
    height: 100%;
    position: fixed;
    left: 0;
    top: 5%;
}

#chat{
    width: 20%;
    height: 100%;
    position: fixed;
    right: 0;
    top: 5%;
}

#timelinecontainer{
    width: 60%;
    height: 200%;
    margin: auto;
    display: flex;
}

#timeline{
    height: 200%;
    width: 60%;
}

#adscontainer{
    width: 40%;
    height: 100%;
    background-color: chartreuse;
}   

#publicacao{
    width: 90%;
    margin: auto;
    margin-top: 10%;
    border-radius: 5px;
    background-color: white;
    overflow: hidden;
    height: 7%;
}

.topbar{
    width: 100%;
    height: 13%;
    background-color: lightgrey;  
}

.topbar p{
    margin: 0;
    padding: 0;
}

.box{
    width: 100%;
    height: 68%;
    background-color: lightpink;
}

.bottom{
    height: 20%;
    background-color: lightgrey;
}