body, html{
    margin: 0;
    padding: 0;
    height: 100%;
}

nav{
    height: 5%;
    background-color: blue;
    position: fixed;
    top: 0;
    width: 100%;
}

#maincontainer{
    display: flex;
    height: 100%;
}

#menu{
    width: 20%;
    height: 100%;
    background-color: blueviolet;
    position: fixed;
    left: 0;
    top: 5%;
}

#chat{
    width: 20%;
    height: 100%;
    background-color: blueviolet;
    position: fixed;
    right: 0;
    top: 5%;
}

#timelinecontainer{
    width: 60%;
    height: 200%;
    margin: auto;
    display: flex;
}

#timeline{
    height: 200%;
    width: 60%;
}

#ads{
    width: 40%;
    height: 100%;
    background-color: chartreuse;
}   

#publicacao{
    width: 90%;
    background-color: burlywood;
    margin: auto;
    margin-top: 10%;
}